.wrapper{
	width: 100%;
}

.top-wrapper{
	width: 100%;
	height: 780px;
}
.top-wrapper .top{
	width: 1400px;
	height: 780px;
	margin: 0 auto;
	background: url(../images/banner.png) no-repeat;
}
.top .top-hd{
	height: 134px;
	padding: 0 115px;
}
.top .top-hd .logo{
	width: 253px;
	height: 91px;
	background: url(../images/logo.png) no-repeat;
	margin-top: 40px;
	float: left;
}
.top .top-hd .logo a{
	display: block;
	width: 100%;
	height: 100%;
}
.top .top-hd .logo a h3{
	text-indent: -9999px;
}
.top .top-hd .nav{
	height: 50px;
	margin-top: 40px;
	float: right;
}
.top .top-hd .nav ul li{
	height: 50px;
	float: left;
	padding: 0 30px;
	line-height: 50px;
}
.top .top-hd .nav ul li a{
	display: block;
	color: #fff;
	font-size: 18px;
}
.top .top-hd .nav ul li.cur{
	padding: 0 30px;
	border: 2px solid #fff;
	border-radius: 5px;
	font-size: 20px;
}